@import 'variable.scss';

body {
  font-family: $font-family-base;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

/* 全域CSS設定 */
body {
  font-family: Arial, sans-serif;
  background-color: $primary-background-color;
  margin: 0;
  padding: 0;
}

/* 標題樣式 */
h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
  color: $primary-color;
}

/* 表單樣式 */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  max-width: 300px;
  background-color: $secondary-color;
  padding: 1em;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 標籤樣式 */
label {
  font-size: $font-size-base;
  margin-bottom: 0.5em;
  color: $primary-color;
}

/* 輸入欄位樣式 */
input {
  font-size: $font-size-base;
  // padding: 0.5em;
  border-radius: $border-radius;
  background-color: $primary-background-color;
  color: $text-color;
  text-align: center;
}

/* 按鈕樣式 */
button {
  background-color: $primary-color;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size-base;
  cursor: pointer;
  margin-top: 1em;
}

i {
  font-size: $icon-font-size;
  margin: 2px;

  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }

  &.disabled {
    color: $disabled-color;
    cursor: not-allowed
  }
}

ul {
  background-color: $secondary-background-color;
  padding: 0;

  li {
    list-style: none;
    margin: $spacer-half;
  }
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

// 全局混合器 (mixin)
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 使用混合器
.centered-container {
  @include flex-center;
}